<div class="top-bar-right">
  <ul class="vertical medium-horizontal menu">
  {{#if user}}
    <li>
      {{#if user.picture}}
        <img class="avatar" src="{{user.picture}}">
      {{else}}
        <img class="avatar" src="{{user.gravatar}}">
      {{/if}}
      {{#if user.name}}
        {{user.name}}
      {{else}}
        {{user.email}}
      {{/if}}
    </li>
    <li><a href="/account" class="{{#ifeq title 'Home'}}active{{/ifeq}}">My Account</a></li>
    <li><a href="/logout">Logout</a></li>
  {{else}}
    <li><a href="/login" class="{{#ifeq title 'Log in'}}active{{/ifeq}}">Log in</a></li>
    <li><a href="/signup" class="{{#ifeq title 'Sign up'}}active{{/ifeq}}">Sign up</a></li>
  {{/if}}
  </ul>
</div>
